[submodule "cs160"]
	path = cs160
	url = ./cs160
[submodule "cs161"]
	path = cs161
	url = ./cs161
[submodule "cs162"]
	path = cs162
	url = ./cs162
[submodule "cs261"]
	path = cs261
	url = ./cs261
[submodule "cs271"]
	path = cs271
	url = ./cs271
[submodule "cs290"]
	path = cs290
	url = ./cs290
[submodule "cs325"]
	path = cs325
	url = ./cs325
[submodule "cs331"]
	path = cs331
	url = ./cs331
[submodule "cs340"]
	path = cs340
	url = ./cs340
[submodule "cs344"]
	path = cs344
	url = ./cs344
[submodule "cs362"]
	path = cs362
	url = ./cs362
[submodule "cs381"]
	path = cs381
	url = ./cs381
[submodule "cs434"]
	path = cs434
	url = ./cs434
[submodule "cs475"]
	path = cs475
	url = ./cs475
[submodule "cs492"]
	path = cs492
	url = ./cs492
[submodule "cs493"]
	path = cs493
	url = ./cs493
