[submodule "cs161"]
	path = cs161
	url = ./cs161
	branch = main
[submodule "cs162"]
	path = cs162
	url = ./cs162
	branch = main
[submodule "cs261"]
	path = cs261
	url = ./cs261
	branch = main
[submodule "cs271"]
	path = cs271
	url = ./cs271
	branch = main
[submodule "cs290"]
	path = cs290
	url = ./cs290
	branch = main
[submodule "cs325"]
	path = cs325
	url = ./cs325
	branch = main
[submodule "cs331"]
	path = cs331
	url = ./cs331
	branch = main
[submodule "cs340"]
	path = cs340
	url = ./cs340
	branch = main
[submodule "cs344"]
	path = cs344
	url = ./cs344
	branch = main
[submodule "cs362"]
	path = cs362
	url = ./cs362
	branch = main
[submodule "cs381"]
	path = cs381
	url = ./cs381
	branch = main
[submodule "cs434"]
	path = cs434
	url = ./cs434
	branch = main
[submodule "cs475"]
	path = cs475
	url = ./cs475
	branch = main
[submodule "cs492"]
	path = cs492
	url = ./cs492
	branch = main
[submodule "cs493"]
	path = cs493
	url = ./cs493
	branch = main
